<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8cccef">  <td>20/02/25 22:58:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;E_WebElement.beforeClass()[pri:0, instance:Exersice.E_WebElement@2ac1fdc4]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@431687835</td>   <td></td> </tr>
<tr bgcolor="8cccef">  <td>20/02/25 22:58:23</td>   <td>2676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_WebElement.TC02_CheckElementisEnableDisable()[pri:0, instance:Exersice.E_WebElement@2ac1fdc4]">TC02_CheckElementisEnableDisable</td> 
  <td>main@431687835</td>   <td></td> </tr>
<tr bgcolor="8cccef">  <td>20/02/25 22:58:30</td>   <td>9996</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;E_WebElement.afterClass()[pri:0, instance:Exersice.E_WebElement@2ac1fdc4]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@431687835</td>   <td></td> </tr>
</table>
