<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Live Guru</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8cccef">  <td>18/11/22 07:26:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_05_Parameter_Multibrowser.TC_02_LoginToSystem(java.lang.String, java.lang.String)[pri:0, instance:WebDriver_TestNG.TestNG_05_Parameter_Multibrowser@7bb11784]">TC_02_LoginToSystem</td> 
  <td>TestNG@447767594</td>   <td></td> </tr>
<tr bgcolor="8cccef">  <td>18/11/22 07:26:33</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_05_Parameter_Multibrowser.TC_02_LoginToSystem(java.lang.String, java.lang.String)[pri:0, instance:WebDriver_TestNG.TestNG_05_Parameter_Multibrowser@17d99928]">TC_02_LoginToSystem</td> 
  <td>TestNG@2105815015</td>   <td></td> </tr>
<tr bgcolor="8cccef">  <td>18/11/22 07:26:39</td>   <td>5966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_05_Parameter_Multibrowser.TC_02_LoginToSystem(java.lang.String, java.lang.String)[pri:0, instance:WebDriver_TestNG.TestNG_05_Parameter_Multibrowser@1c53fd30]">TC_02_LoginToSystem</td> 
  <td>TestNG@837494255</td>   <td></td> </tr>
<tr bgcolor="8cccef">  <td>18/11/22 07:26:38</td>   <td>5478</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_05_Parameter_Multibrowser.afterClass()[pri:0, instance:WebDriver_TestNG.TestNG_05_Parameter_Multibrowser@17d99928]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2105815015</td>   <td></td> </tr>
<tr bgcolor="8cccef">  <td>18/11/22 07:26:38</td>   <td>5567</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_05_Parameter_Multibrowser.afterClass()[pri:0, instance:WebDriver_TestNG.TestNG_05_Parameter_Multibrowser@7bb11784]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@447767594</td>   <td></td> </tr>
<tr bgcolor="8cccef">  <td>18/11/22 07:26:46</td>   <td>12825</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_05_Parameter_Multibrowser.afterClass()[pri:0, instance:WebDriver_TestNG.TestNG_05_Parameter_Multibrowser@1c53fd30]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@837494255</td>   <td></td> </tr>
<tr bgcolor="8cccef">  <td>18/11/22 07:26:29</td>   <td>-4250</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_05_Parameter_Multibrowser.beforeClass(java.lang.String)[pri:0, instance:WebDriver_TestNG.TestNG_05_Parameter_Multibrowser@1c53fd30]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@837494255</td>   <td></td> </tr>
<tr bgcolor="8cccef">  <td>18/11/22 07:26:29</td>   <td>-4250</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_05_Parameter_Multibrowser.beforeClass(java.lang.String)[pri:0, instance:WebDriver_TestNG.TestNG_05_Parameter_Multibrowser@17d99928]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2105815015</td>   <td></td> </tr>
<tr bgcolor="8cccef">  <td>18/11/22 07:26:29</td>   <td>-4250</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_05_Parameter_Multibrowser.beforeClass(java.lang.String)[pri:0, instance:WebDriver_TestNG.TestNG_05_Parameter_Multibrowser@7bb11784]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@447767594</td>   <td></td> </tr>
</table>
