<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ea790">  <td>18/11/07 07:25:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_02_DataProvider.afterClass()[pri:0, instance:WebDriver_TestNG.TestNG_02_DataProvider@75412c2f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="a7d2a1">  <td>18/11/07 07:25:47</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_01_Annotation.afterMethod()[pri:0, instance:WebDriver_TestNG.TestNG_01_Annotation@50cbc42f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="a7d2a1">  <td>18/11/07 07:25:47</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_01_Annotation.afterMethod()[pri:0, instance:WebDriver_TestNG.TestNG_01_Annotation@50cbc42f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/11/07 07:25:47</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_02_DataProvider.afterMethod()[pri:0, instance:WebDriver_TestNG.TestNG_02_DataProvider@75412c2f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="a7d2a1">  <td>18/11/07 07:25:47</td>   <td>88</td> <td title="&lt;&lt;TestNG_01_Annotation.afterSuite()[pri:0, instance:WebDriver_TestNG.TestNG_01_Annotation@50cbc42f]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="a7d2a1">  <td>18/11/07 07:25:47</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_01_Annotation.afterTest()[pri:0, instance:WebDriver_TestNG.TestNG_01_Annotation@50cbc42f]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/11/07 07:25:47</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_02_DataProvider.afterTest()[pri:0, instance:WebDriver_TestNG.TestNG_02_DataProvider@75412c2f]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="a7d2a1">  <td>18/11/07 07:25:47</td>   <td>-28</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_01_Annotation.beforeClass()[pri:0, instance:WebDriver_TestNG.TestNG_01_Annotation@50cbc42f]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/11/07 07:25:47</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_02_DataProvider.beforeClass()[pri:0, instance:WebDriver_TestNG.TestNG_02_DataProvider@75412c2f]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="a7d2a1">  <td>18/11/07 07:25:47</td>   <td>-24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_01_Annotation.beforeMethod()[pri:0, instance:WebDriver_TestNG.TestNG_01_Annotation@50cbc42f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="a7d2a1">  <td>18/11/07 07:25:47</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_01_Annotation.beforeMethod()[pri:0, instance:WebDriver_TestNG.TestNG_01_Annotation@50cbc42f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/11/07 07:25:47</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_02_DataProvider.beforeMethod()[pri:0, instance:WebDriver_TestNG.TestNG_02_DataProvider@75412c2f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="a7d2a1">  <td>18/11/07 07:25:47</td>   <td>-58</td> <td title="&gt;&gt;TestNG_01_Annotation.beforeSuite()[pri:0, instance:WebDriver_TestNG.TestNG_01_Annotation@50cbc42f]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="a7d2a1">  <td>18/11/07 07:25:47</td>   <td>-47</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_01_Annotation.beforeTest()[pri:0, instance:WebDriver_TestNG.TestNG_01_Annotation@50cbc42f]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/11/07 07:25:47</td>   <td>-47</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_02_DataProvider.beforeTest()[pri:0, instance:WebDriver_TestNG.TestNG_02_DataProvider@75412c2f]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="a7d2a1">  <td>18/11/07 07:25:47</td>   <td>-24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_01_Annotation.f(java.lang.Integer, java.lang.String)[pri:0, instance:WebDriver_TestNG.TestNG_01_Annotation@50cbc42f]">f</td> 
  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="a7d2a1">  <td>18/11/07 07:25:47</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_01_Annotation.f(java.lang.Integer, java.lang.String)[pri:0, instance:WebDriver_TestNG.TestNG_01_Annotation@50cbc42f]">f</td> 
  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/11/07 07:25:47</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_02_DataProvider.f()[pri:0, instance:WebDriver_TestNG.TestNG_02_DataProvider@75412c2f]">f</td> 
  <td>main@716143810</td>   <td></td> </tr>
</table>
